altgraph==0.17.4
astroid==3.0.2
attrs==23.2.0
cattrs==23.2.3
click==8.1.7
colorama==0.4.6
dill==0.3.7
docstring-to-markdown==0.13
isort==5.13.2
jedi==0.19.1
jedi-language-server==0.41.2
lsprotocol==2023.0.0
mccabe==0.7.0
packaging==23.2
parso==0.8.3
pefile==2023.2.7
platformdirs==4.1.0
pygls==1.2.1
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.12
pylint==3.0.3
pywin32-ctypes==0.2.2
setuptools==69.0.3
tomlkit==0.12.3
